body{
    font-family: 'Poppins', Arial;
    margin-bottom: 1000px;
    background-color: rgb(53, 53, 53);
}
.main{
    width: 100%;
    height: 700px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-image: linear-gradient(rgb(255, 213, 134), rgb(163, 197, 255));
}
